.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

a {
    display: inline-block;
    margin: 6px;
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}